<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Acesso às Ferramentas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon2/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon2/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon2/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon2/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="SalaryCalc" />
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon2/site.webmanifest') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
    <style>
        .redirect-info {
            padding: 10px;
            background-color: #e6f7ff;
            border-left: 4px solid #1890ff;
            margin-bottom: 1rem;
            border-radius: 4px;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Login</h2>

        {% if request.args.get('next') == 'gastos' %}
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form method="POST">
            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">

            <label for="username">Usuário:</label>
            <input type="text" name="username" id="username" placeholder="Seu usuário" required>

            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Sua senha" required>

            <input type="submit" value="Entrar">
        </form>
        <p class="link-register">Não tem conta? <a href="{{ url_for('auth.register') }}">Cadastre-se aqui</a></p>
    </div>
</body>
</html>